<div class="section no-pad-bot" id="index-banner">
<div class="container">
<br><br>
<h1 class="header center orange-text">Bem vindo</h1>
<div class="row center">
</div>

<div class="container">
<div class="section">

 <!--   Icon Section   -->
 <div class="row">
   <div class="col s12 m3">
     <div class="icon-block">
       <h2 class="center"><img class="responsive-img" id="node-logo" src="ico/node.png"></h2>
       <h5 class="center">nodejs</h5>
     </div>
   </div>

   <div class="col s12 m3">
     <div class="icon-block">
       <h2 class="center"><img class="responsive-img" id="angular-logo" src="ico/angular.png"></h2>
       <h5 class="center">angularjs</h5>
     </div>
   </div>

   <div class="col s12 m3">
     <div class="icon-block">
       <h2 class="center"><img class="responsive-img" id="mongo-logo" src="ico/mongo.png"></h2>
       <h5 class="center">mongodb</h5>
     </div>
   </div>

   <div class="col s12 m3">
     <div class="icon-block">
       <h2 class="center"><img class="responsive-img" id="materialize-logo" src="ico/materialize.png"></h2>
       <h5 class="center">materialize</h5>
     </div>
   </div>
 </div>

</div>
<br><br>

<div class="section">

</div>
</div>

</div>
</div>
